 .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-a {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    color: var(--foreground);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;
}

.ab-top {
    padding-top: 0;
}

 .about {
    max-width: 30rem;
}

.secondary-title {
    font-size: 1.6rem;
    font-weight: 400;
}

.p1 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.btn-width-match {
    width: 5rem;
    height: 1.2rem;
}

.links-container {
    margin-top: 1.8rem;
}