.foot-section {
	padding-top: 2.2rem !important;
	padding-bottom: 2rem !important;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	#footer-l-text {
		font-size: 0.8rem;
		max-width: 25ch;
	}
}
