.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--background);
	opacity: 0.98;
	z-index: 50;
	padding-top: 0;
	padding-left: 1rem;
	padding-right: 1rem;

}

.navbar {
	display: flex;
	justify-content: space-between;
	border-bottom: 1 solid var(--border);
	transition:
		border-color 150ms ease,
		box-shadow 150ms ease;
	min-height: 4.6rem;
}

.navbar-scrolled {
	border-bottom: 1px solid var(--primary);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12px);
	background-color: var(--nav);
}

.navbar-scrolled * {
	color: var(--primary) !important;
}

.nav-right {
	display: flex;
	align-items: center;
}

.nav-link {
	padding: 0 1rem 0 1rem;
	text-decoration: none;
	font-size: 0.875rem;
	color: var(--muted-foreground);
	transition: color 0.2s ease;
}

.nav-link:hover {
	color: var(--primary);
}

.theme-mode-btn {
	color: var(--muted-foreground);
	background: transparent;
	border: none;
	cursor: pointer;
	transition: color 0.2s ease;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.theme-mode-btn:hover {
	color: var(--primary);
}

.logo {
	color: var(--foreground);
	display: flex;
	align-items: center;
}

.burger-content {
	display: none;
}

.burger-open {
	display: block;
}

.hamburger-wrapper {
	height: 100%;
	color: var(--foreground);
	display: flex;
	align-items: center;
	justify-content: center;
}


.offscreen-menue {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1rem;
	gap: 0.6rem;
	height: auto;
	width: auto;
	max-width: 250px;
	position: absolute;
	right: -450px;
	transition: .3s ease;
	background-color: var(--muted);
	
}

.offscreen-menue.active {
	right: 0;
}

.burger-nav-link {
	padding: 0 1rem 0 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--muted-foreground);
	transition: color 0.2s ease;
}

.burger-nav-link:hover {
	color: var(--primary);
}

@media (max-width: 768px) {
	.navbar {
		max-width: 90%;
	}
}