/* @import "./Style/Reset.style.css";
@import "./Style/Theme.style.css"; */

html {
	scroll-behavior: smooth;
}

#root {
  transform-origin: top left;
}

@media (max-width: 400px) {
  #root {
    transform: scale(0.9);
    width: 111%; /* compensates for scale */
  }
}