.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background);
    opacity: 0.98;
    z-index: 50;
    padding-top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1 solid var(--border);
    transition: border-color 150ms ease, box-shadow 150ms ease;
    min-height: 4.6rem;
}

.navbar-scrolled {
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
  backdrop-filter: blur(12px); 
  background-color: var(--nav); 
  box-shadow: 0 1px 2px rgba(94, 91, 91, 0.04);
}

.navbar-scrolled * {
  color: var(--primary) !important;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--muted-foreground);
    transition: color 0.2s ease;
    }
   
.nav-link:hover {
    color: var(--primary);
}

.theme-mode-btn {
  margin-top: 0.25rem;
  /* text-decoration: none; */
  /* font-size: 0.875rem; */
  color: var(--muted-foreground);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
  /* padding: 0.5; */
  /* border: 1px; */
}

.theme-mode-btn:hover {
  color: var(--primary);
}

.logo {
  color: var(--foreground);
  display: flex;
  align-items: center;
}